body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#render_canvas {
    width: 100%;
    height: 100%;
    display: block;
}

#container {
    position: relative;  /* makes this the origin of its children */
    width: 100%;
    height: 100%;
    -overflow: hidden;
}
#labels {
    position: absolute;  /* let us position ourself inside the container */
    left: 0;             /* make our position the top left of the container */
    top: 0;
    color: white;
    text-wrap: nowrap;
    white-space: nowrap;
    z-index: 0;          /* make a new stacking context so children don't sort with rest of page */
}
#labels>div {
    position: absolute;  /* let us position them inside the container */
    left: 0;             /* make their default position the top left of the container */
    top: 0;
    cursor: pointer;     /* change the cursor to a hand when over us */
    font-size: large;
    user-select: none;   /* don't let the text get selected */
    pointer-events: none;   /* ignore pointer events, otherwise moving around the view becomes difficult when the pointer is over a label */
    text-shadow:         /* create a black outline */
      -1px -1px 0 #000,
       0   -1px 0 #000,
       1px -1px 0 #000,
       1px  0   0 #000,
       1px  1px 0 #000,
       0    1px 0 #000,
      -1px  1px 0 #000,
      -1px  0   0 #000;
    
}
#labels>div:hover {
    color: red;
}

#debug_info > div{
    z-index: 100;
    user-select: none;
    pointer-events: none;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadein {
    animation-duration: 0.5s;
    animation-name: fadein;
}

.stopped {
    animation-name: none;
}

.fadeout {
    animation-duration: 0.1s;
    animation-name: fadeout;
}

.compass {
    background-image: url("./images/compass.png");
    background-size: 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 80px;
    right: 10px;
    display: inline-block;
    pointer-events: none;
}

#gps {
    background-size: 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 10px;
    display: inline-block;
}

.gps_off {
    background-image: url("./images/gps_off.png");
}

.gps_on {
    background-image: url("./images/gps_on.png");
}

.gps_follow {
    background-image: url("./images/gps_follow.png");
}

#gps_loc {
    position: absolute;
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-image: url("./images/gps_location.png");
    opacity: 1;
}


#scalebar_container {
    position: absolute;
    width: 300px;
    height: 20px;
    bottom: 30px;
    left: 10px;
    user-select: none;
    pointer-events: none;
}

#scalebar {
    position: absolute;
    width: 200px;
    height: 10px;
    bottom: 0px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#scalebar_val {
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
}

#gps_info {
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 24px;
    padding-top: 4px;
    background-color: #000000a0;
    font-size: 12px;
    color: white;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

#gps_info_lat {
    position: absolute;
    width: 100px;
    left: 0px;
}
#gps_info_lon {
    position: absolute;
    width: 100px;
    left: 100px;
}
#gps_info_accuracy {
    position: absolute;
    width: 100px;
    left: 210px;
}
#terrain_elevation {
    position: absolute;
    width: 100px;
    left: 300px;
}
